<div class="container">
  <h2 class="index-title">My Bookings</h2>
  <% @bookings.each do |booking| %>
    <div class="row card-product">
      <div class="col-5 card-product-infos d-flex">
        <%= cl_image_tag booking.bike.photo %>
        <div class="card-product-infos">
          <h2> <%= booking.bike.name %> </h2>
          <p> <%= booking.bike.description %> </p>
          <p> <%= booking.bike.address %> </p>
          <%= link_to "new review", new_booking_review_path(booking)  %>
        </div>
      </div>
      <div class="col-3 booking-dates">
        <h6> From : <strong> <%= booking.start_date %> </strong> </h6>
        <h6> Until : <strong> <%= booking.end_date %> </strong> </h6>
      </div>
      <div class="col-2 booking-price">
        <h5><%= booking.total_price(booking.start_date, booking.end_date, booking.bike.price) %>€ </h5>
      </div>
      <div class="col-1 status">
        <% if booking.status == "accepted" %>
          <p> <i class="fas fa-check-square"></i> </p>
        <% elsif booking.status == "rejected" %>
          <p> <i class="fas fa-times"></i> </p>
        <% elsif booking.status == "pending" %>
          <p> <i class="fas fa-clock"></i> </p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>





