
<!-- Div for the filters -->
<!-- <div class="d-flex flex-row page-margin py-3">
  <button class="py-2 px-5" type="button">Dates</button>
  <button class="py-2 px-5 mx-2" type="button">Type </button>
</div> -->
<div class="search-form my-4 mx-4">
<%= form_tag bikes_path, method: :get do %>
  <p class='d-flex'> <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Choose a location"
  %> <% submit_tag %>
  </p>
<% end %>
</div>

<h4 class="my-4 mx-4" style="color: #FD894A"><%= pluralize @bikes.size, "bike" %></h4>

<div class="index-cards">
  <!-- Div of all the cards in grid form -->

  <div class="bike-cards">

    <%  @bikes.each do |bike| %>
    <a class="link-none" href="<%= bike_path(bike) %>">
    <div class="bike-card">
      <div class="div-image">
        <%= cl_image_tag bike.photo, class: "bike-image" %>
      </div>
      <div class="text-card">
        <h3 class="card-info"><%=bike.name.truncate(20)%></h3>
        <p class="card-info"><%=bike.description.truncate(30) %></p>
        <h5 class="price"> <%= bike.price %>€ </h5>
      </div>
    </div></a>
    <% end %>
  </div>
  <!-- Div of the map -->
  <div id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>

<!-- class: card-img-top -->
