<%= simple_form_for (@bike) do |f| %>
<%= f.input :name %>
<%= f.input :description%>
<%= f.input :category, :collection => %w[Mountainbike Citybike Tandem Race Other] %>
<%= f.input :price%>
<%= f.input :photo %>
<%= f.input :photo_cache, as: :hidden %>
<%= f.submit %>
<% end %>

<p><%= link_to "Back to all bikes", bikes_path %></p>
