<%= link_to "<<", bikes_path, class: "btn-back-to-bikes" %>
<div class="container">
  <div class="row">

    <div class="col-lg-8 col-sm-12">
      <div class="card-bike">
        <div class="card-bike-pictures d-flex justify-content-around">
          <%= cl_image_tag @bike.photo %>
        </div>
        <div class="card-bike-infos">
            <h3><%= @bike.name %></h1>
            <p><%= @bike.description%></p>
            <p>Category: <%= @bike.category%></p>
        </div>
      </div>

      <div class="card-bike d-flex justify-content-between">
        <div class="card-address-infos">
          <h6>ADDRESS OF THE BIKE</h6>
          <div class="d-flex align-items-center">
            <i class="fas fa-map-marked-alt"></i>
            <p><%= @bike.address%></p>
          </div>
          <p class="pick-up-rules">The bike has to be picked up and returned at this same address</p>
        </div>
          <div id="map" style="width: 100%; height: 250px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>
      </div>
    </div>

    <br>

    <div class="col-lg-4 col-sm-12">
      <div class="card-price-submit">
        <div class="bike-show-price ">
          <h3><%= @bike.price %>€</h3>
          <p>(Price per day)</p>
        </div>
        <div class="btn-submit">
          BOOK NOW
        </div>
      </div>
    </div>
  </div>
</div>

